@{
    ViewData["Title"] = "About";
}
<h1 class="cover-heading d-none d-sm-block">Graduaat Iconizr</h1>
<p class="lead text-left d-none d-sm-block">Maak icoontjes voor je Github classroom, sneller dan je schadow.</p>
<div class="text-left">
    <p>Deze applicatie werd ontworpen voor de opleiding Graduaat Programmeur op de <a href="http://www.howest.be">Hogeschool West-Vlaanderen.</a></p>
    <p>De applicatie mag vrij gebruikt worden.</p>
</div>