@{
    ViewData["Title"] = "About";
}
<h1 class="cover-heading d-none d-sm-block">Graduaat Iconizr</h1>
<div class="text-left">
    <p>Wanneer je <a href="https://classroom.github.com">GitHub Classroom</a> gebruikt, maak je meestal een nieuwe Organization aan voor elke klas.
    De kleine thumbnails op je profielpagina's maken het al snel onoverzichtelijk.</p>
    <p class="lead">Met deze app kan je snel icoontjes maken voor elke Organization, zodat je het overzicht kan behouden.</p>
    <p>Deze applicatie werd ontworpen voor de opleiding Graduaat Programmeur op de <a href="http://www.howest.be">Hogeschool West-Vlaanderen.</a></p>
    <p>De applicatie mag vrij gebruikt worden.</p>
</div>