@{
    ViewData["Title"] = "Home Page";
}
<h1 class="cover-heading d-none d-sm-block">Graduaat Iconizr</h1>
<p class="lead d-none d-sm-block">Maak icoontjes voor je Github classrooms, met een vleugje Howest.</p>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <form id="iconizeform">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="type">Organizatie type</label>
                            <select class="form-control" id="type" name="type">
                                <option value="classroom">Classroom</option>
                                <option value="root">Opleiding</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="module">Module</label>
                            <input type="text" class="form-control noresize" id="module" name="module" maxlength="4" placeholder="vb. B04" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="group">Groep</label>
                            <input type="text" class="form-control noresize" id="group" name="group" maxlength="4" placeholder="vb. 1" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" id="generate" class="btn btn-secundary w-100">Genereer icoon</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 p-3 text-center">
            <img id="loading" class="generating" style="display:none;" src="~/assets/loading.svg" width="200" height="200" alt="base image" />
            <img id="result" class="result" style="display:none;" width="200" height="200" alt="result" />
            <div id="placeholder"></div>
        </div>
    </div>
</div>
<div class="text-left">

</div>