@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.StatusCode == 404)
{
    <h1 class="cover-heading">404.</h1>
    <p class="lead text-left">De pagina werd niet gevonden.</p>
    <div class="text-left">
        <p>Wellicht ben je hier terecht gekomen door een foutieve hyperlink, of heb je gewoon een foute URL ingetikt. Probeer eens via <a asp-action="Index" asp-controller="Home">startpagina</a>.</p>
    </div>
}
else
{
    <h1 class="cover-heading">Error @Model.StatusCode</h1>
    <p class="lead text-left">Er deed zich een fout voor tijdens de uitvoering van deze request.</p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
}

